<!DOCTYPE html>
<html lang="en">

<body>
<h2>CS 4440 Project</h2>

<a href="./pic_1.jpg" download>
<img src="/static/pic_1.jpg" alt="Image 01" width="200" height="150">
</a>
<a href="./pic_2.jpg" download>
<img src="/static/pic_2.jpg" alt="Image 02" width="200" height="150">
</a>
<a href="./pic_3.jpg" download>
<img src="/static/pic_3.jpg" alt="Image 03" width="200" height="150">
</a><br />
<a href="./pic_4.jpg" download>
<img src="/static/pic_4.jpg" alt="Image 04" width="200" height="150">
</a>
<a href="./pic_5.jpg" download>
<img src="/static/pic_5.jpg" alt="Image 05" width="200" height="150">
</a>
<a href="./pic_6.jpg" download>
<img src="/static/pic_1.jpg" alt="Image 06" width="200" height="150">
</a><br />
<a href="./pic_7.jpg" download>
<img src="/static/pic_2.jpg" alt="Image 07" width="200" height="150">
</a>
<a href="./pic_8.jpg" download>
<img src="/static/pic_3.jpg" alt="Image 08" width="200" height="150">
</a>
<a href="./pic_9.jpg" download>
<img src="/static/pic_4.jpg" alt="Image 09" width="200" height="150">
</a>

<br />
<button onclick="location.href='../'">Return</button>

</body>
</html>